<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">porcozio2746</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fc2021</property>
        <property name="hibernate.connection.username">fc2021</property>
        <property name="hibernate.default_schema">fc2021</property>
    </session-factory>
</hibernate-configuration>
